* {
    margin: 0;
    padding: 0;
}

.principal{
    display: flex;
    top: 0;
    width: 100%;
    height: 100vh;
}

.slide-bar{
    background-color: #ffffff;
    box-shadow: 1px 5px 4px #bcc0c3;
    width: 10%;
    height: 100vh;
}

.icon-menu{
    color: #9C2424;

}
.log-out {
    transform: translateY(211px);
}

#menu{

    display: flex;
    flex-direction: column;
    margin-top: 1px;
    height: 80px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

#menu:hover {
    width: 90%;
    margin-left: 10px;
    box-shadow: 1px 1px 5px #bcc0c3;
    border-radius: 5% 5% 5% 5%;
    color: #1f64ff;
}