
*{

}

.body-login{
    background-image: url("https://media.istockphoto.com/photos/modern-hospital-building-picture-id1312706413?k=20&m=1312706413&s=170667a&w=0&h=NpGueAN1ZlNEIc2OEBcs7V-nOP2s8veEqy29HPSYeEQ=");
    background-size: 60% 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.section-inputs{
    border: solid 1px white;
    transform: translateX(820px);
    width: 545px;
    height: 100vh;
}

#titulo-login{
    margin-top: 100px;
    margin-bottom: 41px;
    margin-left: 15px;
}

.formulario{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    width: 421px;
}

.input{
    height: 50px;
    margin-bottom: 41px;
}

.btn-login{
    background: #9C2424;
    width: 100%;
    color: white;
}

